@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Roboto', Arial, sans-serif;
}

@keyframes anime1 {
    form {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

/*Nav block*/

.step-1-img {
    display: flex;
    flex-direction: column;
    background-image: url(https://static.tildacdn.com/tild3766-3936-4163-a566-303336643136/breather181289.jpg);
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(9, 47, 51, 0.8);;
    height: 100vh;
}

.step-1 {
    display: flex;
    flex-direction: column;
}

.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.topnav-left a {
    padding: 0 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.topnav-logo h1 {
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.topnav-right p {
    font-size: 20px;
    color: white;
    padding: 0 0 0 30px;
    font-weight: bold;
}

.step-1-info {
    padding: 100px 0 50px 0; 
    align-self: center;
}

.step-1-info h2 {
    font-size: 65px;
    padding: 24px 38px;
    color: white;
    text-align: center;
}
.step-1-info p {
    color: white;
    font-size: 24px;
    margin: 0 230px;
    padding: 0 0 30px;
    text-align: center;
    width: 700px;
    line-height: 35px;
}

.updown {align-self: center;}

.updown img {
    animation: anime1 1s ease-in-out infinite;
    animation-direction: alternate;
    cursor: pointer;
}

/*Nav endblock*/

/*Step-2 content*/

.step-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 180px 0;
}

.step-2 img {
    width: 560px;
    height: 550px;
}

.step-2-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 560px;
    height: 560px;
    margin-left: 52px;
}

.step-2-content h2 {
    font-size: 42px;
    padding-bottom: 16px;
    font-weight: bold;
}

.step-2-content p {
    font-size: 16px;
    margin: 0 80px 28px;
}

.border-1 {border-bottom: 4px solid #3d9587; width:50px;}

.step-2-info {
    font-size: 20px;
    margin: 28px 0 0;
    text-align: center;
    line-height: 30px;
}

/*Step-2 endblock*/

/*Step-3 block*/

.step-3  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;  
}

.step-3-header {padding: 165px 0 120px;}

.step-3-header h2 {
    font-size: 52px;
    padding: 8px 0 3px;
    text-align: center;
}

.step-3-header p {
    font-size: 24px;
    text-align: center;
    line-height: 35px;
    padding: 41px 0 0;
    width: 760px;
}

.step-3-box {
    display: flex;
    flex-direction: row;
}

.step-3-box img {
    width: 600px;
    height: 400px;
}

.step-3-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    background-color: white;
}

.step-3-info h2 {font-size: 36px;}

.step-3-info p {
    font-size: 16px;
    margin: 0 110px;
    padding: 20px 10px 0;
    text-align: center;
    line-height: 25px;
}

.step-3-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 165px 0 180px;
}

.step-3-footer p {
    width: 560px;
    font-size: 22px;
    margin-right: 52px;
}

.step-3-footer button {
    padding: 0 60px;
    width: 263px;
    background-color: #259DA8;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.step-3-footer button:hover {transform: scale(1.1);}

/*Step-3 endblock*/

/*Step-4 block*/
.step-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 180px 0;
}

.step-4-header {
    margin: 0 20px;
    height: 156px;
}

.step-4-header h2 {
    font-size: 42px;
    margin: 0 0 40px;
}

.step-4-box {
    display: flex;
    flex-direction: row;
}

.step-4-box img {margin-right: 16px;}
.step-4-box h2 {font-size: 18px;}

.step-4-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 85px;
}

.step-4-content p {
    margin-top: 12px;
    font-size: 16px;
    width: 360px;
}

/*Step-4 endblock*/

/*Step-5 block*/
.step-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.step-5-header {padding: 180px 0 60px;}

.step-5-header h2 {
    text-align: center;
    font-size: 52px;
    padding: 8px 0 3px;
}

.step-5-header p {
    width: 760px;
    font-size: 26px;
    padding: 41px 0 0;
    text-align: center;
}

.step-5-content {
    display: flex;
    flex-direction: column;
    padding: 30px 0 135px;
}

.inputs {
    width: 760px;
    height: 60px;
    border: none;
    border-bottom: 1px solid rgb(153, 149, 149);
    background: none;
    margin-bottom: 40px;
    font-size: 17px;
}

.textareas {
    border: none;
    border-bottom: 1px solid rgb(153, 149, 149);
    background: none;
    padding-top: 18px;
    font-size: 17px;
    height: 121px;
    resize: vertical;
}

.step-5 button {
    margin: 30px 0 10px;
    width: 260px;
    height: 60px;
    font-size: 16px;
    border-radius: 5px;
    align-self: center;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #259DA8;
    cursor: pointer;
    transition: 0.5s;
}

.step-5 button:hover {transform: scale(1.1);}

/*Step-5 endblock*/

/*Footer block*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 417px;
    background-color: whitesmoke;
}

.footer-up {
    font-size: 30px;
    margin: 0 0 45px;
    text-align: center;
}

.footer-down {
    font-size: 18px;
    margin: 0 0 45px;
}

/*Footer endblock*/
/*Media block*/
/* @media (max-width: 1920px) {
    
} */

/*1024px*/
@media (max-width: 1025px) {
    .step-1-info p {width: auto;}
    .step-1-info h2 {font-size: 55px;}
    .step-2 {
        flex-direction: column;
        align-items: center;
    }

    .step-3-info {width: 300px;}
    .step-3-info p {margin: 0;}
    
    .step-3-box img {
        width: 400px;
        height: 400px;
    }

    .step-4-content {
        display: flex;
        flex-flow: column;
        width: auto;
    }
    
    .step-4-content p {
        margin-top: 12px;
        font-size: 16px;
        width: 360px;
    }
}

/*768px*/
@media (max-width: 769px) {
    .topnav {flex-direction: column;}
    .topnav-left {margin-top: 10px;}
    .topnav-right p {padding: 0;}
    .topnav-logo {padding: 10px 0 10px 0;}

    .step-1-info {padding: 150px 0 50px 0;}
    .step-1-info h2 {font-size: 35px;}
    .step-1-info p {
        font-size: 24px;
        margin: 0 10px;
    }

    .step-2 img {
        max-width: 100%;
    }
    .step-2-content {
        width: auto;
        height: 560px;
        margin: 0;
    }
    .step-2-content h2 {font-size: 32px;}
    .step-2-content p {
        font-size: 16px;
        margin: 0;
        padding-bottom: 28px;
    }

    .step-3-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .step-3-footer button {
        height: 50px;
        margin-top: 20px;
    }

    .inputs {width: 600px;}

    .step-5-header h2 {font-size: 35px;}
    
    .step-5-header p {
        font-size: 26px;
        padding: 30px 0 0;
    }

}

/*425px*/
@media (max-width: 426px) {
    .step-3-box {flex-direction: column;}
    .step-3-info {
        width: 400px;
        height: 400px;
    }
    
    .step-3-header p {
        font-size: 20px;
        line-height: 30px;
        width: auto;
    }
    
    .step-3-header h2 {font-size: 42px;}

    .step-3-footer p {
        width: auto;
        margin: 0;
    }
    
    .step-5-header p {
        width: auto;
        font-size: 16px;
        padding: 30px 10px 0 10px;
    }

    .inputs {width: 300px;}

    .footer-up {font-size: 20px;}
    
}

/*375px*/
@media (max-width: 376px) {
    .step-1-info {padding: 100px 0 50px 0;}
    .step-3-box img {
        width: 300px;
        height: 300px;
        align-self: center;
    }

    .step-3-info {
        width: 300px;
        height: 300px;
    }

    .step-3-info h2 {font-size: 25px;}

    .step-3-info p {
        padding: 0;
        padding-top: 20px;
    }

    .step-3-footer p {
        font-size: 18px;
        line-height: 25px;
    }
    
    .step-4-header h2 {font-size: 32px;}

    .step-4-box {justify-content: center;}

    .step-4-content p {
        width: auto;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        margin: 15px 20px 0 20px;
    }

    .step-5-header h2 {font-size: 30px;}
    
    .step-5-header p {
        font-size: 16px;
        padding: 15px 10px 0 10px;
    }

}

/*320px*/
@media (max-width: 320px) {
    .step-1-info {padding: 100px 0 50px 0;}
    .step-1-info h2 {font-size: 25px;}
    .step-1-info p {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }

    .step-5-header h2 {font-size: 25px;}
    
    .step-5-header p {
        font-size: 15px;
        padding: 15px 10px;
    }

    .footer-up {font-size: 16px;}
    .footer-down {font-size: 16px;}
}
/*Media endblock*/